extends layouts/main.pug
include mixins/videoPlayer

block content
    .video-detail__container
        .video__player
            +videoPlayer({
                src:video.fileUrl
            })
        .video__info
            if loggedUser && video.creator.id === loggedUser.id
                a(href=routes.editVideo(video.id)) 
                    button 동영상 수정
            h5.video__title=video.title
            span.video__views 조회수 #{video.views}회 • #{moment(video.createAt).format('YYYY. MM. DD')}
            .videoBlock__info
                .videoBlock__column
                    a(href=routes.userDetail(video.creator.id))
                        img.u-avatar.comment-avatar(src=video.creator.avatarUrl)
                        .creator=video.creator.name
                .videoBlock__column
                    .video__description=video.description
            .video__comment-number
                span 댓글 
                span#jsCommentNumber=video.comments.length
                span 개
        .video__comments
            .video__comments__column
                if loggedUser
                    img.u-avatar.comment-avatar(src=loggedUser.avatarUrl)
            .video__comments__column
                form.add__comment#jsAddComment
                    if loggedUser
                        input.video__comment__input(type="text", placeholder="공개 댓글 추가...")
                    else
                        span 댓글을 추가하려면 로그인하세요.
        ul.video__comments-list#jsCommentList
            if video.comments.length !== 0
                each comment in video.comments.reverse()
                    li
                        .comment__column
                            a(href=routes.userDetail(comment.creator.id))
                                img.u-avatar.comment-avatar(src=comment.creator.avatarUrl)
                                .creator=comment.creator.name
                        .comment__column
                            span=comment.text
                            if loggedUser && comment.creator.id === loggedUser.id
                                button(id=comment.id class="deleteComment") ×
            else
                .noComments 첫 번째 댓글을 달아 보세요.