header.header
    .header__wrapper
        .header__column
            a(href=routes.home)
                i.fab.fa-youtube
                h3 WeTube
        .header__column
            form(action=routes.search, method="get")
                input(type="text", placeholder="Search by term...", name="term")
        .header__column
            ul
                if !loggedUser
                    li
                        a(href=routes.join) Join
                    li
                        a(href=routes.login) Log In
                else
                    img.header-avatar#avatar(src=loggedUser.avatarUrl)
                    .header__menu.hide
                        li#content
                            a(href=`/videos${routes.upload}`)
                                span upload
                        li#content
                            a(href=routes.userDetail(loggedUser.id)) 
                                span profile
                        li#content
                            a(href=routes.logout) 
                                span logout