header.header
    .header__wrapper
        .header__column
            a(href=routes.home)
                i.fab.fa-youtube
                h3 WeTube
        .header__column
            form(action=routes.search, method="get")
                input(type="text", placeholder="검색", name="term")
        .header__column
            ul
                if !loggedUser
                    li
                        a(href=routes.join) 가입
                    li
                        a(href=routes.login) 로그인
                else
                    img.header-avatar#avatar(src=loggedUser.avatarUrl)
                    .header__menu.hide
                        li#content
                            a(href=`/videos${routes.upload}`)
                                span 업로드
                        li#content
                            a(href=routes.userDetail(loggedUser.id)) 
                                span 프로필
                        li#content
                            a(href=routes.logout) 
                                span 로그아웃